<html>
<head>
</head>
<body>
    <ul>
        <li>Creator: {{.content.Creator}}</li>
        <li>Title: {{.content.Title}}</li>
        <li>Description: {{.content.Description}}</li>
        <li><img src="/image/{{.content.ID}}" alt="Content image"></li>
    </ul>
</body>
</html>
