<html>
<head>
</head>
<body>
    <ul>
        {{range .contents}}
            <li>
                <div>ID: {{.ID}}</div>
                <div>Creator: {{.Creator}}</div>
                <div>Title: {{.Title}}</div>
                <div>Description: {{.Description}}</div>
                <div><img src="/image/{{.ID}}" alt="Content image"></div>
                <form method="post" action="/{{.ID}}/update" enctype="multipart/form-data">
                    <input type="text" name="creator" value="{{.Creator}}" />
                    <input type="text" name="title" value="{{.Title}}" />
                    <input type="text" name="description" value="{{.Description}}" />
                    <input type="file" name="image" accept="image/*" />
                    <input type="submit" value="更新" />
                </form>
                <form method="post" action="/{{.ID}}/delete">
                    <input type="submit" value="削除" />
                </form>
            </li>
        {{end}}
    </ul>
    <form method="post" enctype="multipart/form-data">
        <input type="text" name="creator" />
        <input type="text" name="title" />
        <input type="text" name="description" />
        <input type="file" name="image" accept="image/*" />
        <input type="submit" value="登録" />
    </form>
</body>
</html>
